.statspage {
    padding: 40px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.statspage__item {
    max-width: 335px;
    width: 100%;
}
.statspage__title {
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}