.cardlist {
    padding: 40px 0;
}
.cardlist.angry {
    background-color: #FFEFE5;
}
.cardlist.upset {
    background-color: #EBF0FF;
}
.cardlist.sad {
    background-color: #EDFEFF;
}
.cardlist.good {
    background-color: #FFFBED;
}
.cardlist.happy {
    background-color: #F5F9FF;
}
.cardlist.spectacular {
    background-color: #FFF0F3;
}