body {
    background: #d8d8d8;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 10px 0;
    text-align: center;
    background-color: #FFEFE5;
    border-bottom: 3px solid #754242;
}
.header__link {
    color: #754242;
    font-size: 24px;
    text-decoration: none;
}

.angry {
    background-color: #FF843E;
    color: #782E04;
}
.upset {
    background-color: #8CA4EE;
    color: #313A54;
}
.sad {
    background-color: #A1E7EB;
    color: #3A7478;
}
.good {
    background-color: #FDDD6F;
    color: #664F00;
}
.happy {
    background-color: #DFEBFF;
    color: #505D87;
}
.spectacular {
    background-color: #FFA7BC;
    color: #4D3238;
}