body {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    background: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.app {
    height: 100%;
}
.app__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.main {
    flex: 1;
    margin-bottom: 100px;
}
.footer {
    position: fixed;
    bottom: 0;
    max-width: 380px;
    width: 100%;
}

.angry {
    background-color: #FF843E;
    color: #782E04;
}
.upset {
    background-color: #8CA4EE;
    color: #313A54;
}
.sad {
    background-color: #A1E7EB;
    color: #3A7478;
}
.good {
    background-color: #FDDD6F;
    color: #664F00;
}
.happy {
    background-color: #DFEBFF;
    color: #505D87;
}
.spectacular {
    background-color: #FFA7BC;
    color: #4D3238;
}

.angry-bg {
    background-color: #FFEFE5;
}
.upset-bg {
    background-color: #EBF0FF;
}
.sad-bg {
    background-color: #EDFEFF;
}
.good-bg {
    background-color: #FFFBED;
}
.happy-bg {
    background-color: #F5F9FF;
}
.spectacular-bg {
    background-color: #FFF0F3;
}